body {
    background-color: #353535;
    font-family: cursive;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1 {
    color: #FFF;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 50px;
    text-align: center;
}

.btns-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto 35px;
    width: 50vw;
}

.btns-container h2 {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0 auto 35px;
    text-align: center;
    width: 100%;
}

.btns-container a {
	border: 2px solid #F7CA18;
    color: #fff;
	cursor: pointer;
	display: block;
	font-size: 1.275rem;
	margin-bottom: 35px;
	position: relative;
    padding: 10px 0;
	text-align: center;
    text-decoration: none;
	transition: all 0.4s cubic-bezier(0.215,0.61,0.355,1) 0s;
    width: 45%;
}

/* Thar One - Buttons */
a.thar-one {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #F7CA18;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.thar-one:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: none;
}
a.thar-one:hover:before {
	bottom: 0%;
	top: auto;
	height: 100%;
}
a.thar-one:before {
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #F7CA18;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

/* Thar Two - Buttons */
a.thar-two {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #F7CA18;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.thar-two:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: ntwo;
}
a.thar-two:hover:before {
	top: 0%;
	bottom: auto;
	height: 100%;
}
a.thar-two:before {
	display: block;
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 0px;
	width: 100%;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #F7CA18;
	transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}

/* Thar Three - Buttons */
a.thar-three {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #F7CA18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}
a.thar-three:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nthree;
}
a.thar-three:hover:before {
	left: 0%;
	right: auto;
	width: 100%;
}
a.thar-three:before {
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #F7CA18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

/* Thar Four - Buttons */
a.thar-four {
	color: #fff;
	cursor: pointer;
	display: block;
	position: relative;
	border: 2px solid #F7CA18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}
a.thar-four:hover {
	color: #000 !important;
	background-color: transparent;
	text-shadow: nfour;
}
a.thar-four:hover:before {
	right: 0%;
	left: auto;
	width: 100%;
}
a.thar-four:before {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 0px;
	z-index: -1;
	content: '';
	color: #000 !important;
	background: #F7CA18;
	transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}